<div class="product">
  <h4>{{ products.id }}. {{ products.title }} </h4>
  <img [src]="products.images[0]" alt="product.title" />
  <button class="btnProducts" (click)="prodAbout = !prodAbout">
    <span>{{prodAbout? "Hide":"Show"}}</span>  Details</button>
  <div *ngIf="prodAbout"  class="prodAbout">
    <span>Price: {{ products.description }}</span>

    <span>Price: {{ products.price }}</span>
    <span>DiscountPercentage: {{ products.discountPercentage }}</span>
    <span>Rating:{{ products.rating }}</span>
    <span>Brand:{{ products.brand }}</span>
    <span>Category: {{ products.category }}</span>
  </div>
</div>
<!-- <img [src]="products.thumbnail" alt="product.title"/> -->
