.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  width: 600px;
  padding-bottom: 20px;
}

.btnProducts {
  margin-top: 20px;
  border: none;
  width: 500px;
  height: 40px;
  cursor: pointer;
  border: 1px solid black;
  background-color: lightsteelblue;

}

.prodAbout {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  align-items: center;

  .images {
    margin-top: 20px;
    display: flex;

    .image {
      margin-right: 5px;
      max-width: 220px;
    }
  }
}
